name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip' # udpadted for Caches dependencies to speed up runs

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # [NEW] Added 'pytest-cov' for coverage reports
        pip install flake8 mypy pytest pytest-cov types-setuptools
        pip install -e .

    - name: Lint with flake8
      run: |
        # Stop build if there are syntax errors
        flake8 src test --count --select=E9,F63,F7,F82 --show-source --statistics
        # treat all errors as warnings (exit-zero) for now
        flake8 src test --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Type check with mypy
      run: |
        # Checks src folder for type consistency
        mypy src

    # updated to run coverage 
    - name: Run tests with pytest
      run: |
        # --cov gets coverage, --cov-fail-under=80 fails if coverage is < 80%
        pytest --cov=qc_tools --cov-report=term-missing test/